---
import Layout from '@layouts/BaseLayout.astro';
import NavMenu from '@components/NavMenu.astro'; 
import Summary from '@components/Summary.astro';
---

<Layout title='Inteligencia de negocios'>
    <header>
        <NavMenu />
        <Summary />
    </header>

    <main>
        
    </main>
	
    <footer>

    </footer>
</Layout>

<style>
    header {
        
    }
</style>
