---
import type { CollectionEntry } from 'astro:content'

interface Props {
    post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const frontmatter = post.data;
---

<div>
    <img src={ frontmatter.image.url } alt={ frontmatter.image.alt }>
    <div>
        <a href={ `/posts/${post.id}` }>
            { frontmatter.title }
        </a>
        <p>{ frontmatter.description }</p>
    </div>
</div>

<style>

</style>