---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content'

interface Props {
    post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const frontmatter = post.data;
---

<div class="container">
    <Image 
        src={ frontmatter.image }
        alt={ frontmatter.title }
        width={400}
        class="image-post"
        quality= "low"
    />

    <div>
        <a 
            href={ `/posts/${post.id}` }
        >
            <h1>{ frontmatter.title }</h1>
            <p class="text-description">{ frontmatter.description }</p>
            <p class="text-autor">Por { frontmatter.author }</p>
        </a>
    </div>
</div>

<style>
    .container {
        max-width: 85%;
        margin: auto;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding: 10px;
        border: 2px solid #042433;
    }

    a {
        text-align: end;

        h1 {
            color: #002060;
            font-weight: bold;
            text-transform: uppercase;
        }

        .text-description {
            color: #7f7f7f;
            font-weight: bold;
            font-size: medium;
            margin: 1rem 0rem;
        }

        .text-autor {
            color: black;
            font-weight: bold;
        }
    }
</style>