---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content'

interface Props {
    post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const frontmatter = post.data;
---

<div class="container">
    <a 
        href={ `/posts/${post.id}` }
    >
        <Image 
            src={ frontmatter.image }
            alt={ frontmatter.title }
            width={400}
            quality= "low"
            class="img-post"
        />

        <div>
            <h1>{ frontmatter.title }</h1>
            <p class="text-description">{ frontmatter.description }</p>
            <p class="text-autor">Por { frontmatter.author }</p>
        </div>
    </a>
</div>

<style>
    .container {
        max-width: 85%;
        margin: auto;
        margin-top: 2rem;
        padding: 10px;
        border: 2px solid #042433;
    }

    a {
        display: flex;
        align-items: center;
        text-align: end;
        gap: 1rem;

        h1 {
            color: #002060;
            font-weight: bold;
            text-transform: uppercase;
        }

    }

    .text-description {
        color: #7f7f7f;
        font-weight: bold;
        font-size: medium;
        margin: 0.5rem 0rem;
    }

    .text-autor {
        color: black;
        font-weight: bold;
    }

    @media (width <= 900px) {
        .container {
            max-width: 95%;
        }

        .img-post {
            max-width: 350px;
            max-height: 350px;
        }

        h1 {
            font-size: medium;
        }

        .text-description {
            font-size: smaller;
            margin: 0.5rem 0rem;
        }

        .text-autor {
            font-size: smaller;
        }
    }

    @media (width <= 600px) {
        .container {
            max-width: 365px;
        }

        a {
            flex-direction: column;
        }
    }
</style>