---
---

<div>
    <h1>Contacto:</h1>
    <div class="content-links">
        <a 
            href="https://mail.google.com/mail/?view=cm&fs=1&to=destinatario@ejemplo.com&su=Asunto%20del%20correo&body=Cuerpo%20del%20mensaje"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img src="/icon_email.svg" alt="Ícono de correo electrónico" width="40">
            <p>giancarlosproyectos@gmail.com</p>
        </a>
        <a href="https://api.whatsapp.com/send/?phone=573218870001" target="_blank">
            <img src="/icon_whatsapp.png" alt="Ícono de Whatsapp" width="40">
            <p>+57 (321) 887 00 01</p>
        </a>
        <a href="https://www.linkedin.com/in/ghan-carlos-areiza-salazar-7a859420/" target="_blank">
            <img src="/icon_linkedin.png" alt="Ícono de Linkedin" width="40">
            <p>Ghancarlos Areiza</p>
        </a>
    </div>
</div>

<style>
    .content-links {
        max-width: 70%;
        margin: auto;
    }

    h1 {
        margin-bottom: 30px;
        color: #002060;
        font-weight: bold;
        text-transform: uppercase;
        padding: 5px;
        text-align: center;
        background-color: #f2f2f2;
        border-bottom: 8px solid #92d050;
    }

    a {
        display: flex; 
        align-items: center;
        gap: 30px;
        margin-bottom: 10px;
        padding: 12px;
        border-bottom: 2px solid #156082;

        p {
            font-size: large;
            color: #002060;
            font-weight: bold;
        }
    }
</style>