---
import ModalContact from "@components/ModalContact.astro"
---

<nav>
    <div>
        <a href="/">Inicio</a>
        <span>|</span>
        <a href="/services">Servicios</a>
        <span>|</span>
        <button id="show-contact-dialog">Contacto</button>
        <span>|</span>
        <a href="/profile-ghan-carlos">Perfil Ghan Carlos Areiza</a>
    </div>

    <dialog id="dialog-contact">
        <form>
            <button formmethod="dialog">
                <img src="/icon_close_modal.svg" alt="Ãcono para cerrar ventana modal">
            </button>
        </form>
        <ModalContact />
    </dialog>
</nav>

<style>
    nav {
        background-color: #0070C0;     
        padding: 10px;
        display: flex;
        justify-content: end;
        align-items: center;
        height: 55px;
        position: fixed;
        inset: 0;
        z-index: 1000
    }

    dialog {
        width: 70%;
        border: none;
    }

    button {
        background: none;
        border: none;
    }

    a, button {
        text-transform: uppercase;
    }

    a,span,button {
        color: white;
        font-weight: bold;
        font-size: large;
    }

    a:hover {
        color: #eeededee;
    }

    button:hover {
        color: #eeededee;
        cursor: pointer;
    }

    @media (width <= 900px) {
        a,span,button {
            font-size: smaller;
        }
    }

    @media (width <= 470px) {
        nav {
            justify-content: center;
        }

        a,span,button {
            font-size: x-small;
        }
    }
</style>

<script>
    document.addEventListener("astro:page-load", () => {
        const showButton = document.querySelector("#show-contact-dialog");
        if (showButton) {
            showButton.addEventListener("click", function () {
                const alertDialog = document.querySelector("#dialog-contact") as HTMLDialogElement;
                alertDialog.showModal();
            });
        }
    });
</script>