---
---

<nav>
    <div>
        <a href="/">Inicio</a>
        <span>|</span>
        <a href="/services">Servicios</a>
        <span>|</span>
        <a href="#">Contactos</a>
        <span>|</span>
        <a href="/profile-ghan-carlos">Perfil Ghan Carlos Areiza</a>
    </div>
</nav>

<style>
    nav {
        background-color: #0070C0;     
        padding: 18px;
        display: flex;
        justify-content: end;
    }

    div {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }

    a {
        text-transform: uppercase;
    }

    a,span {
        color: white;
        font-weight: bold;
        font-size: large;
    }

    a:hover {
        color: #eeededee;
    }
</style>