---
import { Image } from "astro:assets";
import headerRelations from "@assets/header_decorative-relationships.png"
---

<div class="container">
    <div>
        <h1>Inteligencia de negocios</h1>
        <h2>Gestión de datos e información digital en los negocios</h2>
    </div>
    
    <div class="content-image">
        <Image 
            src={ headerRelations } 
            alt="Imagen de portada"
            class="img-relation"
        />
    </div>

    <div class="content-atributes">
        <p><span></span>Gobierno y minería de datos</p>
        <p><span></span>Inteligencia de negocios</p>
        <p><span></span>Estructura de la información</p>
        <p><span></span>Gestión Documentos electrónicos</p>
    </div>
</div>

<style>
    .container{
        display: flex;
        align-content: space-between;
        min-height: 400px;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-image: url("/hexagonal_background.webp");
        background-repeat: no-repeat;
        background-size: 100%;
        border-bottom-width: 12px;
        border-bottom-color: #92d050;
        border-bottom-style: solid;
        margin-top: 55px;

        div {
            flex: 0 1 30%;
        }
    }

    .content-atributes {
        display: flex;
        flex-direction: column;
        gap: 8px;

        p {
            background-color: white;
            padding: 15px;
            font-size: medium;
            color: #002060;
            font-weight: bold;

            span {
                display: inline-block;
                vertical-align: middle;
                width: 18px;
                height: 18px;
                background-color: #92d050;
                border-radius: 50%;
                margin-right: 15px;
            }
        }
    }

    .img-relation {
        max-width: 350px;
        max-height: 350px;
    }

    h1 {
        color: #92D050;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 15px;
        font-size: 50px;
    }

    h2 {
        color: #7f7f7f;
        font-weight: bold;
        text-transform: uppercase;
        font-size: medium;
    }

    @media (width <= 900px) {
        .container {
            flex-direction: column;
            gap: 0px;
            margin-top: 40px;
        }

        .content-atributes {
            gap: 2px;

            p {
                font-size: smaller;
                padding: 5px;
            }
        }

        .img-relation {
            max-width: 150px;
            max-height: 150px;
        }

        h1 {
            font-size: x-large;
            margin: 5px 10px;
        }

        h2 {
            font-size: small;
            margin: 5px 10px;
        }
    }
</style>